POSTGRES_DB=projektask
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
DB_HOST=db
DB_PORT=5432
ConnectionStrings__Default=Host=db;Port=5432;Database=projektask;Username=postgres;Password=
Jwt__Secret=
Jwt__ExpiresInHours=24
AllowedOrigins=
